.App {
  text-align: center;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-color: rgb(242,242,242);
}
.planets {
  display: flex;
  flex-direction: row;
  margin: 25px;
  margin-top: 0px;
  min-height: 100%;

  padding: 10px;
  height: 100%;
  padding-bottom: 30px;

  flex: 1 0 auto;
}
.planets-list {
  flex: 1;
}
.planet-container {
  margin: 10px;
  text-align: left;
  font-size: 30px;
  width: 100%;
}
.noSelectedPlanet {
  height: 100%;
  margin: 20px;
}
.footer{
  background: linear-gradient(to right, #141e30, #243b55);
  width: 100%;
  height: 30px;
  text-align: left;
  color: white;
}
.footer p{
  padding: 6px;
  padding-left: 20px;
  margin: 0;
}